div.panel.panel-success
  div(class="panel-heading")
    h3(class="panel-title") 3. Api path [BETA]
      button(type="button" class="close icon-panel")
        span.glyphicon.glyphicon-plus

  div.panel-body.hidden#dir-panel
    div.form-group      
      input(id="api_path", rows="6", class="form-control", placeholder="api dir path")